---
//codigo astro

import logo from "../../public/img/kateLogo.jpg";
import profilePhoto from "../../public/img/profilePhoto.jpg";
import flisolPhoto from "../../public/img/flisol.jpg";
import certificacionPhoto from "../../public/img/certificacion.png";
import Image from "astro/components/Image.astro";
import RolesCard from "../components/rolesCard.astro";
import IconText from "../components/iconText.astro";
import ProjectCard from "../components/projectCard.astro";
import Carrousel from "../components/carrousel.astro";

import Navbar from "../layouts/navbar.astro";
---

<!doctype html>
<html lang="en">
  <link />
  <meta charset="UTF-8" />
  <meta name="description" content="Astro description" />
  <meta name="viewport" content="width=device-width" />
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <link rel="stylesheet" href="/src/styles/global.css">
  <link
    rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0"
  />

  <script src="../../public/main.js"></script>
  <meta name="generator" content={Astro.generator} />
  <title>Portafolio</title>

  <body>

    <Navbar ></Navbar>

    <main class="palanquin-dark-regular">
      <section
        class="bg-pinkBase h-[40rem] flex flex-col items-center justify-center"
      >
        <div class="flex flex-col lg:flex-row gap-10">
          <div class="p-3 md:p-0 class flex flex-col justify-center items-center" data-aos="zoom-out" data-aos-duration="2000">
            <h1
              class="text-purpleBase text-center text-[31px] md:text-[71px] palanquin-dark-bold"
            >
              SCRUM MASTER
            </h1>
            <p class="text-center text-BlancoBase md:text-[15px] text-wrap md:w-[25rem]">
              Soy un líder orientado a resultados, capaz de adaptarme a los 
               cambios y resolver desafíos de manera eficiente para lograr los
               objetivos del proyecto de manera oportuna y dentro del 
              presupuesto establecido.
            </p>
          </div>

          <div
            class="flex justify-center relative"
            data-aos="flip-right"
            data-aos-duration="2000"
          >
            <img
              src={profilePhoto.src}
              alt="profileMe"
              class="rounded-[150px] h-[200px] w-[200px] lg:h-[300px] lg:w-[300px] border-2 border-purpleBase z-10"
            />

            <div
              class="bg-BlancoBase rounded-[150px] h-[200px] w-[200px] lg:h-[300px] lg:w-[300px] border-2 border-purpleBase absolute z-0 left-[5rem] sm:left-[9rem] md:left-[13rem] lg:left-8"
            >
            </div>
          </div>
        </div>
        <div class="custom-shape-divider-bottom-1718895694">
          <svg
            data-name="Layer 1"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 1200 120"
            preserveAspectRatio="none"
          >
            <path
              d="M0,0V46.29c47.79,22.2,103.59,32.17,158,28,70.36-5.37,136.33-33.31,206.8-37.5C438.64,32.43,512.34,53.67,583,72.05c69.27,18,138.3,24.88,209.4,13.08,36.15-6,69.85-17.84,104.45-29.34C989.49,25,1113-14.29,1200,52.47V0Z"
              opacity=".25"
              class="shape-fill"></path>
            <path
              d="M0,0V15.81C13,36.92,27.64,56.86,47.69,72.05,99.41,111.27,165,111,224.58,91.58c31.15-10.15,60.09-26.07,89.67-39.8,40.92-19,84.73-46,130.83-49.67,36.26-2.85,70.9,9.42,98.6,31.56,31.77,25.39,62.32,62,103.63,73,40.44,10.79,81.35-6.69,119.13-24.28s75.16-39,116.92-43.05c59.73-5.85,113.28,22.88,168.9,38.84,30.2,8.66,59,6.17,87.09-7.5,22.43-10.89,48-26.93,60.65-49.24V0Z"
              opacity=".5"
              class="shape-fill"></path>
            <path
              d="M0,0V5.63C149.93,59,314.09,71.32,475.83,42.57c43-7.64,84.23-20.12,127.61-26.46,59-8.63,112.48,12.24,165.56,35.4C827.93,77.22,886,95.24,951.2,90c86.53-7,172.46-45.71,248.8-84.81V0Z"
              class="shape-fill"></path>
          </svg>
        </div>
      </section>

      <section class="bg-BlancoBase text-purpleBase" id="quienSoy">
        <div class="grid grid-cols-1 lg:grid-cols-2 p-10">
          <div
            class="text-[71px] palanquin-dark-medium flex justify-center items-center text-center"
            data-aos="fade-right"
            data-aos-offset="300"
            data-aos-easing="ease-in-sine"
          >
            ¿Quién soy?
          </div>
          <div
            class="text-center lg:text-start"
            data-aos="zoom-in-left"
            data-aos-duration="2000"
          >
            <h1 class="text-[41px] palanquin-dark-medium">Katerin Hernández</h1>

            <p class="py-5 text-[20px] lg:pr-10">
              Estudiante de la carrera de ingeniería en sistemas y redes de la
              informática. Me desenvuelvo en roles como Scrum en gestión de
              proyectos ágiles
            </p>

            <p class="text-[20px] lg:pr-10">
              Mi experiencia abarca desde la planificación y coordinación hasta
              la ejecución y entrega exitosa de proyectos
            </p>

            <button
              type="button"
              class="mt-5 mx-auto lg:mx-0 flex text-BlancoBase bg-purpleBase hover:bg-pinkBase hover:drop-shadow-2xl p-3 rounded-md cursor-pointer"
            >
              <span class="material-symbols-outlined mr-3"> contact_page </span>
              Curriculum Vitae
            </button>
          </div>
        </div>
      </section>

      <section class="bg-pinkBase text-BlancoBase px-10 py-16" id="roles">
        <h1 class="text-[48px] palanquin-dark-medium text-center" data-aos="zoom-in-down" data-aos-duration="1000">
          Roles que desempeño
        </h1>

        <div
          class="flex flex-col lg:flex-row items-center justify-center gap-10 mt-10"
        >
          <RolesCard
            icon="collections_bookmark"
            titulo="Scrum Master"
            descripcion="Planificación y coordinación hasta la ejecución y entrega exitosa de proyectos"
            tool="Scrum"
            tools="Azure DevOps"
          />

          <RolesCard
            icon="widgets"
            titulo="Diseñador"
            descripcion="Valoro la estructura de contenido simple, los patrones de diseño limpios y las interacciones bien pensadas."
            tool="Desing"
            tools="Azure DevOps"
          />

          <RolesCard
            icon="labs"
            titulo="QA Tester"
            descripcion="Construyo casos de pruebas que abarquen cualquier punto de vulnerabilidad y procedo a realizar esos casos de prueba"
            tool="QA Tester"
            tools="SonarQuebe"
          />
        </div>
      </section>

      <section
        class="bg-purpleBase text-BlancoBase p-12 flex flex-col lg:flex-row justify-around"
        id="interesHabilidad"
      >
        <div class="mt-5">
          <h1
            class="text-[48px] palanquin-dark-medium text-center"
            data-aos="flip-left"
            data-aos-duration="1000"
          >
            Intereses
          </h1>

          <div class="bg-pinkBase rounded-lg flex flex-col px-10 py-5 mt-9">
            <IconText icon="memory" text="Pasión por la tenologia" />

            <IconText icon="groups_2" text="Trabajo en equipo y liderazgo" />

            <IconText icon="psychology" text="Creatividad y observación" />

            <IconText icon="forum" text="Comunicación" />

            <IconText
              icon="manufacturing"
              text="Reparación de algunos dispositivos"
            />
          </div>
        </div>

        <div class="mt-5">
          <h1
            class="text-[48px] palanquin-dark-medium text-center"
            data-aos="flip-right"
            data-aos-duration="1000"
          >
            Habilidades
          </h1>

          <div class="bg-pinkBase rounded-lg flex flex-col px-10 py-5 mt-9">
            <IconText icon="cognition" text="Conocimientos técnicos" />

            <IconText
              icon="calendar_clock"
              text="Planificacion y gestion de tiempo"
            />

            <IconText icon="handyman" text="Dominio de herramientas" />

            <IconText icon="looks_one" text="Liderazgo" />

            <IconText icon="sync_problem" text="Resolución de problemas " />
          </div>
        </div>
      </section>

      <section
      id="exitos"
        class="bg-BlancoBase py-10 pr-16 pl-16 lg:pl-1 text-purpleBase grid grid-cols-1 lg:grid-cols-2"
      >
        <h1
          class="text-[50px] palanquin-dark-bold text-center md:text-start my-auto lg:justify-normal md:ml-16"
        data-aos="fade-down-right" data-aos-duration="1000"
          >
          Casos de éxito
        </h1>

        <div class="flex flex-col md:flex-row items-center gap-5 mt-10 lg:mt-0"
        data-aos="zoom-in-left"
        data-aos-duration="1000"
        >
          <Image
            src={flisolPhoto}
            alt="Flisol"
            class="rounded-lg border-2 border-purpleBase w-[250px] lg:h-[298px] lg:w-[423px]"
          />

          <div class="text-center p-5">
            <h1 class="text-[40px] palanquin-dark-bold">Feria Flisol</h1>
            <p>
              Premio primer lugar en competencia de carrera de carritos robot
            </p>
          </div>
        </div>
      </section>

      <section class="bg-pinkBase pt-5 md:p-14" id="proyectos">
        <h1
          class="text-[40px] md:text-[71px] text-purpleBase palanquin-dark-bold text-center"
          data-aos="zoom-in-down" data-aos-duration="1000"
        >
          Mis proyectos
        </h1>

        <div
          class="grid lg:grid-cols-3 place-items-center gap-10 lg-gap-16 mt-10"
        >
          <ProjectCard
            image="https://fakeimg.pl/150x150/0b9678/fafafa?text=AutoAsistant"
            textAlt="AutoAssistant"
            proyecto="AutoAssitant"
          />
          <ProjectCard
            image="https://fakeimg.pl/150x150/0b7896/fafafa?text=LocalWonder"
            textAlt="LocalWonder"
            proyecto="LocalWonder"
          />
          <ProjectCard
            image="https://fakeimg.pl/150x150/0b4c96/fafafa?text=Temperatura"
            textAlt="Temperatura"
            proyecto="Temperatura"
          />
          <ProjectCard
            image="https://fakeimg.pl/150x150/0b7341/fafafa?text=ChildReading"
            textAlt="AutoAssistant"
            proyecto="ChildReading"
          />
          <ProjectCard
            image="https://fakeimg.pl/150x150/0b9661/fafafa?text=Flisol"
            textAlt="Carrito"
            proyecto="Carrito flisol"
          />
          <ProjectCard
            image="https://fakeimg.pl/150x150/0b9629/fafafa?text=FrutaHelp"
            textAlt="AutoAssistant"
            proyecto="FrutaHelp"
          />
        </div>
      </section>

      <section
      id="certificaciones"
        class="bg-pinkBase p-9 md:py-10 lg:py-16 lg:pr-16 flex flex-col-reverse lg:flex-row"
      >
        <div class="flex flex-wrap gap-10 justify-center">
          <Image
          data-aos="zoom-in-up"
          data-aos-duration="1000"
            src={certificacionPhoto}
            alt="certificaciones"
            class="border-4 border-purpleBase rounded-2xl"
            height="267"
          />
          <Image
          data-aos="zoom-in-up"
          data-aos-duration="1000"
            src={certificacionPhoto}
            alt="certificaciones"
            class="border-4 border-purpleBase rounded-2xl"
            height="267"
          />
          <Image
          data-aos="zoom-in-up"
          data-aos-duration="1000"
            src={certificacionPhoto}
            alt="certificaciones"
            class="border-4 border-purpleBase rounded-2xl"
            height="267"
          />
        </div>

        <h1
        data-aos="zoom-in-left"
        data-aos-duration="1000"
          class="text-[35px] md:text-[51px]  text-BlancoBase py-5 text-center md:my-auto palanquin-dark-bold"
        >
          Certificaciones
        </h1>
      </section>

      <section
      id="testimonios"
        class="bg-BlancoBase p-10 text-purpleBase palanquin-dark-regular"
        
      >
      <div data-aos="zoom-in" data-aos-duration="2000">
        <h1 class="text-3xl md:text-[51px] text-center">Testimonios</h1>

        <Carrousel />
      </div>
        
      </section>

      <section
      id="contacto"
        class="bg-purpleBase p-10 text-BlancoBase palanquin-dark-regular flex flex-col justify-center items-center"
      >
        <h1 class="text-[51px]" data-aos="zoom-in-down" data-aos-duration="2000">Contáctame</h1>

        <div class="grid grid-cols-2 gap-10 m-10 md:w-[40rem] lg:w-[50rem]"
        data-aos="zoom-in-down" data-aos-duration="2000">
          <input
            type="text"
            placeholder="Nombre"
            class="input input-bordered col-span-2 lg:col-span-1 w-full bg-BlancoBase custom-placeholder"
          />

          <input
            type="email"
            placeholder="Correo"
            class="input input-bordered col-span-2 lg:col-span-1 w-full bg-BlancoBase custom-placeholder"
          />

          <textarea
            class="textarea textarea-bordered h-32 col-span-2 text-purpleBase bg-BlancoBase custom-placeholder"
            placeholder="Mensaje"></textarea>

          <button
            class="btn col-span-2 mx-auto bg-pinkBase text-BlancoBase rounded-xl"
            >Enviar mensaje</button
          >
        </div>
      </section>
    </main>

    <footer
      class="bg-pinkBase p-10 grid grid-cols-4 gap-5 palanquin-dark-bold text-[21px] place-items-center"
    >
      <div class="col-span-4 lg:col-span-1">
        <Image src={logo} alt="logo" class="rounded-full" height="90" />
      </div>

      <div class="col-span-4 lg:col-span-1 text-center lg:text-start">
        <p class="text-purpleBase">Direccion</p>
        <p class="text-BlancoBase">Usulutan, Usulutan, El Salvador</p>
      </div>

      <div class="col-span-4 lg:col-span-1 text-center lg:text-start">
        <p class="text-purpleBase">Número de contácto</p>
        <p class="text-BlancoBase">(503) 7584-6895</p>
      </div>

      <div class="col-span-4 lg:col-span-1 text-center lg:text-start">
        <p class="text-purpleBase">Correo</p>
        <p class="text-BlancoBase">atencion@gmail.com</p>
      </div>

      <p class="text-purpleBase col-span-4">All rights reserved 2024</p>
    </footer>
  </body>
</html>
